@charset "UTF-8";

@import './_config.scss';
@import '~scss/helpers/_functions.scss';
@import '~scss/themes/index.scss';

@mixin yfin-title-page-mixin {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin yfin-title-mixin {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin header-h1 {
  font-size: 30px;
  line-height: 38px;
}
@mixin header-h2 {
  font-size: 24px;
  line-height: 32px;
}
@mixin header-h3 {
  font-size: 20px;
  line-height: 28px;
}
@mixin header-h4 {
  font-size: 16px;
  line-height: 24px;
}
@mixin header-h5 {
  font-size: 14px;
  line-height: 22px;
}

@mixin text-desc {
}
