@charset "UTF-8";

@import '~scss/themes/index.scss';


$component-name: #{$component-prefix}+'flex';

.#{$component-name} {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.#{$component-name}--between {
    justify-content: space-between;
  }
}

.#{$component-name}-1 {
  flex: 1;
}
.#{$component-name}-0 {
  flex: 0 0 1;
}
