@charset "UTF-8";

@import '~scss/themes/index.scss';

$component-name: #{$component-prefix}+'form';

.#{$component-name} {
  &.el-form--inline {
    .el-form-item__label {
      margin-bottom: 0;
      padding-bottom: 4px;
    }
  }
}
