@charset "UTF-8";

@import '~scss/themes/index.scss';

// 组件名称
$component-name : #{$component-prefix}+'header';


.#{$component-prefix}-layout-header {
  height: $layout-header--height;
  line-height: $layout-header--height;
  background: #001529;

}

.#{$component-name} {
  position: relative;
  height: $layout-header--height;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  line-height: 1;

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: $layout-aside--width;
    z-index: 11;
    transition: all .2s ease-in-out;
  }

  &__trigger {

    height: $layout-header--height;
    padding: 19px 24px;
    font-size: 20px;
    cursor: pointer;

    transition: all .3s,
      padding 0s;
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &__action {
    display: inline-block;
    height: $layout-header--height;
    padding: ($layout-header--height - $layout-header--line-height)/2 12px;
    font-size: 20px;
    line-height: $layout-header--line-height;
    cursor: pointer;

    transition: all .3s,
      padding 0s;

    i {
      font-size: 18px;
    }

    &:last-child {
      margin-right: 12px;
    }


  }
}
