@charset "UTF-8";

@import '~scss/helpers/_utils.scss';
@import '~scss/themes/index.scss';

// 组件名称
$component-name : #{$component-prefix}+'asidemenu';

$scrollbar-scrollbar-thumb--background: #b4bccc;

$scrollbar-track--background:var(--aside-background);

.#{$component-name} {
  border-right: none;
  overflow: hidden;
  max-height: calc(100vh - #{$layout-header--height});
  // 添加一个底边距离 在滚动的时候不会贴底
  padding-bottom: 20px;

  // 浮动的时候才显示滚动条
  &:hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
    cursor: pointer;

    &:horizontal {
      height: 6px;
    }

    &-thumb {
      border-radius: 3px;
      width: 6px;
      background: $scrollbar-scrollbar-thumb--background;
    }

    &-corner {
      background: $scrollbar-track--background;
    }

    &-track {
      background: $scrollbar-track--background;

      &-piece {
        background: $scrollbar-track--background;
        width: 6px;
      }
    }
  }

  .#{$component-name}__title {
    margin-left: 20px;
    transition: all .6s ease-in-out;

    &-image-wrapper {
      position: relative;
      text-align: center;
      display: inline-block;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // 收起状态
  &.el-menu--collapse {
    &>.el-submenu.is-active {
      &>.el-submenu__title {
        background-color: $primary-8 !important;
        color: $base--color-white !important;
      }
    }
  }

  .el-menu-item {
    max-width: $layout-aside--width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;

    &.is-active {
      background-color: $primary-8 !important;
      color: $base--color-white !important;
    }
  }

}

.el-menu--vertical {

  .el-menu-item,
  .el-submenu > .el-submenu__title {
    display: flex;
    flex-direction: row;
    max-width: $layout-aside--width - $layout-aside--width-collapse + 7px;


    .ufin-asidemenu__title-image-wrapper {
      flex: 0 0 32px;
    }

    .ufin-asidemenu__title {
      flex: 1;
      padding-left: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.is-active {
      background-color: $primary-8 !important;
      color: $base--color-white !important;
    }
  }
}
