@charset "UTF-8";

@import '~scss/themes/index.scss';

$component-name: #{$component-prefix}+'ellipsis';

.#{$component-name}-container {
  .#{$component-name}__content {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


}

.#{$component-name}__tooltip--content {
  max-width: 400px;
}
