@charset "UTF-8";

@import '~scss/themes/index.scss';

$component-name: #{$component-prefix}+'alert';

.#{$component-name} {
    &.el-alert--info {
        border: 1px solid $primary-4;
        background-color: $primary-1;

        .el-alert__icon {
            color: $primary-6;
        }

        .el-alert__content {
            color: $base--color-text;
        }
    }
}
