@charset "UTF-8";

@import '~scss/themes/index.scss';

// 组件名称
$component-name : #{$component-prefix}+'footer';


.#{$component-name} {
  flex: 0 0 auto;
  background: #f0f2f5;
  padding: 14px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  text-align: center;
  border-top: $base--border;

  .footer-links {
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
