@charset "UTF-8";

@import '~scss/themes/index.scss';

// 组件名称
$component-name : #{$component-prefix}+'layout';


.#{$component-name} {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;

  // 是否存在侧边栏菜单
  &-has-aside {
    flex-direction: row;
    min-height: 100%;

    &>.#{$component-name} {
      min-height: 100vh;
      transition: all 0.2s ease-in-out;
      box-sizing: border-box;
    }

    &--aside-collpased {
      .#{$component-prefix}-layout-header {
        left: $layout-aside--width-collapse;
      }
    }
  }

  &--header-fixed {
    &>.#{$component-name}{
      overflow: hidden;
      box-sizing: border-box;
      min-height: 100vh;
    }
    .#{$component-prefix}layout-content {
      padding-top: $layout-header--height + $layout-menutabs--height;
    }
  }
}
