.Cropper {
    .cropper-el {
      height: 300px;
      width: 300px;
    }
    .cropper-container {
      display: flex;
      justify-content: space-between;
      .prive-el {
        height: 164px;
        width: 94px;
        flex: 1;
        text-align: center;
        .prive-style {
          margin: 0 auto;
          flex: 1;
          -webkit-flex: 1;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center;
          overflow: hidden;
          background: #ededed;
          margin-left: 40px;
        }
        .preview {
          overflow: hidden;
        }
        .el-button {
          margin-top: 20px;
        }
      }
    }
  }