@charset "UTF-8";

@import '~scss/themes/index.scss';

$component-name: #{$component-prefix}+'dialog';

.#{$component-name} {

  .el-dialog__header {
    padding: 20px 20px 10px;
    border-bottom: 1px solid #f0f0f0;

    .el-dialog__title{
      font-weight: bold;
    }
  }

  .el-dialog__body {
    padding: 20px;
    max-height: 60vh;
  }

  .el-dialog__footer {
    padding: 10px 20px;
    border-top: 1px solid #f0f0f0;
  }
}
