@charset "UTF-8";

@import '~scss/themes/index.scss';

$component-item-name: #{$component-prefix}+'description-item';

.#{$component-item-name} {
  padding-bottom: 8px;

  &-label {
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5715;
  }

  &-content {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    line-height: 1.5715;
  }
}
